<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CRM</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>crm.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CrmSeachSubadmin</display-name>
		<servlet-name>CrmSeachSubadmin</servlet-name>
		<servlet-class>crm.controller.CrmSeachSubadmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ActionServlet</display-name>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>crm.controller.ActionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchSubadmin</display-name>
		<servlet-name>SearchSubadmin</servlet-name>
		<servlet-class>crm.controller.SearchSubadmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchClient1</display-name>
		<servlet-name>SearchClient1</servlet-name>
		<servlet-class>crm.controller.SearchClient1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchSubAdmin1</display-name>
		<servlet-name>SearchSubAdmin1</servlet-name>
		<servlet-class>crm.controller.SearchSubAdmin1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Office</display-name>
		<servlet-name>Office</servlet-name>
		<servlet-class>crm.controller.Office</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddOffice</display-name>
		<servlet-name>AddOffice</servlet-name>
		<servlet-class>crm.controller.AddOffice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchOfficeAjax</display-name>
		<servlet-name>SearchOfficeAjax</servlet-name>
		<servlet-class>crm.controller.SearchOfficeAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyOffice</display-name>
		<servlet-name>ModifyOffice</servlet-name>
		<servlet-class>crm.controller.ModifyOffice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifySubadmin</display-name>
		<servlet-name>ModifySubadmin</servlet-name>
		<servlet-class>crm.controller.ModifySubadmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchPlateAjax</display-name>
		<servlet-name>SearchPlateAjax</servlet-name>
		<servlet-class>crm.controller.SearchPlateAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchSubAdminAjax</display-name>
		<servlet-name>SearchSubAdminAjax</servlet-name>
		<servlet-class>crm.controller.SearchSubAdminAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyPlate</display-name>
		<servlet-name>ModifyPlate</servlet-name>
		<servlet-class>crm.controller.ModifyPlate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddPlate</display-name>
		<servlet-name>AddPlate</servlet-name>
		<servlet-class>crm.controller.AddPlate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchClientAjax</display-name>
		<servlet-name>SearchClientAjax</servlet-name>
		<servlet-class>crm.controller.SearchClientAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ModifyClient</display-name>
		<servlet-name>ModifyClient</servlet-name>
		<servlet-class>crm.controller.ModifyClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddClient</display-name>
		<servlet-name>AddClient</servlet-name>
		<servlet-class>crm.controller.AddClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TP</display-name>
		<servlet-name>TP</servlet-name>
		<servlet-class>crm.controller.TP</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddSubadmin</display-name>
		<servlet-name>AddSubadmin</servlet-name>
		<servlet-class>crm.controller.AddSubadmin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTrans</display-name>
		<servlet-name>AddTrans</servlet-name>
		<servlet-class>crm.controller.AddTrans</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchTransAjax</display-name>
		<servlet-name>SearchTransAjax</servlet-name>
		<servlet-class>crm.controller.SearchTransAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTableTransAjax</display-name>
		<servlet-name>AddTableTransAjax</servlet-name>
		<servlet-class>crm.controller.AddTableTransAjax</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTransaction</display-name>
		<servlet-name>AddTransaction</servlet-name>
		<servlet-class>crm.controller.AddTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrmSeachSubadmin</servlet-name>
		<url-pattern>/CrmSeachSubadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/ActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSubadmin</servlet-name>
		<url-pattern>/SearchSubadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchClient1</servlet-name>
		<url-pattern>/SearchClient1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSubAdmin1</servlet-name>
		<url-pattern>/SearchSubAdmin1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Office</servlet-name>
		<url-pattern>/Office</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOffice</servlet-name>
		<url-pattern>/AddOffice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchOfficeAjax</servlet-name>
		<url-pattern>/SearchOfficeAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyOffice</servlet-name>
		<url-pattern>/ModifyOffice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifySubadmin</servlet-name>
		<url-pattern>/ModifySubadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchPlateAjax</servlet-name>
		<url-pattern>/SearchPlateAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchSubAdminAjax</servlet-name>
		<url-pattern>/SearchSubAdminAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyPlate</servlet-name>
		<url-pattern>/ModifyPlate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPlate</servlet-name>
		<url-pattern>/AddPlate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchClientAjax</servlet-name>
		<url-pattern>/SearchClientAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyClient</servlet-name>
		<url-pattern>/ModifyClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddClient</servlet-name>
		<url-pattern>/AddClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TP</servlet-name>
		<url-pattern>/TP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSubadmin</servlet-name>
		<url-pattern>/AddSubadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTrans</servlet-name>
		<url-pattern>/AddTrans</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchTransAjax</servlet-name>
		<url-pattern>/SearchTransAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTableTransAjax</servlet-name>
		<url-pattern>/AddTableTransAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTransaction</servlet-name>
		<url-pattern>/AddTransaction</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
